@model Customer
@{
    ViewBag.Title = "Quản lý khách hàng";
}

<h2>Quản lý khách hàng</h2>

@using (Html.BeginForm("Index", "Customer", 
    FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    <div class="form-group">
        @Html.LabelFor(m => m.Id, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.TextBoxFor(m => m.Id, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Photo, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.HiddenFor(m => m.Photo, new { @class = "form-control" })
            <input name="uplPhoto" type="file" />
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <div class="checkbox">
                @Html.CheckBoxFor(m => m.Activated)
                @Html.LabelFor(m => m.Activated)
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-offset-4 col-md-8">
            <button onclick="form.action='/Customer/Insert'" class="btn btn-default">Insert</button>
            <button onclick="form.action='/Customer/Update'" class="btn btn-default">Update</button>
            <button onclick="form.action='/Customer/Delete'" class="btn btn-default">Delete</button>
            <button onclick="form.action='/Customer/Index'" class="btn btn-default">Reset</button>
        </div>
    </div>
}

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th></th>
    </tr>
    @foreach (Customer c in ViewBag.Customers)
    {
        <tr>
            <td>@c.Id</td>
            <td>@c.Fullname</td>
            <td>
                <a href="/Customer/Delete/@c.Id">
                    <img src="~/images/icons/Task%20list.png" />
                </a>
            </td>
            <td>
                <a href="/Customer/Edit/@c.Id">
                    <img src="~/images/icons/Edit.png" />
                </a>
            </td>
        </tr>
    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
