<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        <header class="nn-header">
            <h1 class="nn-company">Java Technology Suite</h1>
            <h5 class="nn-slogan">The center point of the professional programming</h5>
            <img class="nn-logo" src="~/images/header-object.png" />
        </header>

        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_Menu")
            </div>
        </div>

        <div class="nn-sheet">
            <div class="row">
                <article>
                    <div class="nn-body">@RenderBody()</div>
                </article>
            </div>
            <hr />
            <div class="row">
                <footer style="text-align:center">
                    <p>&copy; @DateTime.Now.ToString("MMMM 2014") by Nhất Nghệ</p>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>