@using ITL.Controllers;
@using ITL.Models;
@{
    string PageHeader = this.ViewData.ContainsKey("PageHeader") ? this.ViewData["PageHeader"].ToString() : string.Empty;
    string TableID = this.ViewData.ContainsKey("TableID") ? this.ViewData["TableID"].ToString() : string.Empty;
    List<ViewRuleModel> view_rule_list = new ViewRuleController().getByTableRef(TableID);
}

<!-- Header Title -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">@PageHeader</h1>
    </div>
</div>
<!-- Header Title -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- Header Button -->
            <div class="panel-heading">
                @Html.ActionLink("New", "newRecord", new { controller = @TableID }, new { @class = "btn btn-primary" })
                <button type="button" class="btn btn-danger disabled">Remove</button>
            </div>
            <!-- End Header Button -->
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="@TableID">
                        <!-- Header Table -->
                        <thead>
                            <tr>
                                <th class=".">#</th>
                                 @foreach (var item in view_rule_list)
                                 {
                                     <td>@item.ColumnLabel</td>
                                 }
                                <th>Action</th>
                            </tr>
                        </thead>
                        <!-- End Header Table -->
                        <tbody>
                            <!--Statement check ViewRule is exist-->
                            @if (view_rule_list.Count > 0) { 
                                <!-- Loop Table Model -->
                                foreach (var item in Model)
                                {
                                    <!-- Variable local in Table -->
                                    String active = "active" + item.SysId; //ID button Active
                                    String edit = "edit" + item.SysId; //ID button Edit
                                    String remove = "remove" + item.SysId; //ID button Remove
                                    String _notdefine = "System not define.";//Error not define value                               
                                    <!-- End Variable local in Table -->
                                    <tr>
                                        <td align="center">
                                            <button type="button" class="btn btn-default btn-circle"></button>
                                        </td>

                                        <!--Loop define value-->
                                        @foreach (var item_value in view_rule_list)
                                        {
                                            <td>
                                                @if (item_value.ColumnName == "Title")
                                                {
                                                    @item.Title;
                                                }
                                                else if (item_value.ColumnName == "Updated")
                                                {
                                                    @item.Updated;
                                                }
                                                else if (item_value.ColumnName == "Created")
                                                {
                                                    @item.Created;
                                                }
                                                else if (item_value.ColumnName == "Name")
                                                {
                                                    @item.Name;
                                                }
                                                else if (item_value.ColumnName == "Email")
                                                {
                                                    @item.Email;
                                                }
                                                else if (item_value.ColumnName == "Gender")
                                                {
                                                    @item.Gender;
                                                }
                                                else if (item_value.ColumnName == "Company")
                                                {
                                                    @item.Company;
                                                }
                                                else if (item_value.ColumnName == "Location")
                                                {
                                                    @item.Location;
                                                }
                                                else if (item_value.ColumnName == "Department")
                                                {
                                                    @item.Department;
                                                }
                                                else if (item_value.ColumnName == "Active")
                                                {
                                                    <button type="button" class="btn btn-default btn-circle" data-toggle="modal" data-target="#@active">
                                                        @if (item.Active == 1)
                                                        {
                                                            <i class="fa fa-check"></i>
                                                        }
                                                    </button>
                                                    if (item.Active == 0)
                                                    {
                                                                 <!-- Modal -->
                                                                <div class="modal fade" id="@active" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                                    <div class="modal-dialog">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                                                <h4 class="modal-title" id="myModalLabel">Active DialogBox</h4>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                Do you want to active it?
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-primary">Yes</button>
                                                                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                                            </div>
                                                                        </div>
                                                                        <!-- /.modal-content -->
                                                                    </div>
                                                                    <!-- /.modal-dialog -->
                                                                </div>
                                                    }
                                                }
                                                else if(item_value.ColumnName == "ColumnName")
                                                {
                                                    @item.ColumnName;
                                                }
                                                else if (item_value.ColumnName == "ColumnLabel")
                                                {
                                                    @item.ColumnLabel;
                                                }
                                                else if (item_value.ColumnName == "OrderSQ")
                                                {
                                                    @item.OrderSQ;
                                                }
                                                else if (item_value.ColumnName == "TableRef")
                                                {
                                                    @item.TableRef;
                                                }
                                                else
                                                {
                                                    @_notdefine;
                                                }
                                            </td>
                                        }
                                        <!--End Loop define value-->   
                                        <td align="center">
                                            <!--Action Button-->
                                            <button class="btn btn-success btn-circle" data-toggle="modal" data-target="#@edit"><i class="fa fa-link"></i></button>
                                            <button class="btn btn-danger btn-circle" data-toggle="modal" data-target="#@remove"><i class="fa fa-times"></i></button>
                                            <!-- Modal -->
                                            <div class="modal fade" id="@remove" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="myModalLabel">Remove DialogBox</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            Do you want to remove it?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-primary">Yes</button>
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </td>
                                     </tr>
                                }
                                <!-- End Loop Table Model -->
                                <!-- Scripts - Filter, Paging, Show record of Table -->
                                <script>
                                    $(document).ready(function () {
                                        $('#@TableID').DataTable({
                                            responsive: true
                                        });
                                    });
                                </script>
                                <!-- End Scripts - Filter, Paging, Show record of Table -->
                            <!--End Statement check ViewRule is exist-->
                            }
                            else{
                                <!-- Error not found view rule in database -->
                                <tr>
                                    <td colspan="2">
                                        Please 
                                        <button type="button" class="btn btn-primary">Create New</button>
                                         View for this table
                                    </td>
                                </tr>
                                 <!-- End error not found view rule in database -->
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
