@using ITL_v2.Controllers
@{
    foreach(var item in new ApplicationMenuController().getAll())
    {
        <li>
            <a href="javascript:;">
                <i class="@item.ImageClass"></i>
                <span class="title">@item.Title</span>
                @if (new ModuleController().getByApplicationMenuID(item.SysId).Count > 0) { 
                    <span class="arrow"></span>
                }
            </a>
            <ul class="sub-menu">
                @foreach (var subitem_1 in new ModuleController().getByApplicationMenuID(item.SysId))
                {
                <li>
                    <a href="@Url.Action(@subitem_1.Action, @subitem_1.Controller)">
                        <i class="@subitem_1.ImageClass"></i>
                        @subitem_1.Title
                    </a>
                    <!-- Neu Co Sub -->
                </li>
                }
            </ul>
            
        </li>
    }
}
